<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<section id='show-page'>
    <div>Apartment Name</div>
    <div>
        <%= rent.apartment %>
    </div>
    <div>Address</div>
    <div>
        <%= rent.address%>
    </div>
    <div>
        <div>Rooms Available:</div>
        <%= rent.vacant ? 'Yes' : 'No' %>
        <div>Apartment Score:</div>
    </div>
    <% if (user) { %>
    <select name='apartmentScore'>
        <option value='5'>5</option>
        <option value='4'>4</option>
        <option value='3'>3</option>
        <option value='2'>2</option>
        <option value='1'>1</option>
    </select>
    <% } %>
    <div>Management:</div>
    
    <ul> 
        <%- rent.manager.map(l =>
        `<li> <small>${l.name}</small></li>`
        ).join('') %>
    
        </ul>
</section>


<% if (user) { %>
<form id= 'add-land-to-apt' action='/rents/<%=rent._id %>/landlords' method='POST'>
    <select name='landlordId'>
        <%- landlords.map(l =>
        `<option value='${l._id}'>${l.name}</option>`
        ).join('') %>
    </select>

    <button type='submit'>Add to Apartment</button>
    </form>
    <% } %>
    <% if(user) { %>
    <br><br>
    <h2>Vents</h2>
    <form id='add-vent-form' method='POST' action='/rents/<%= rent._id %>/vents'>
        <label>Vent:</label>
        <textarea name='content'></textarea>
        <label>Apartment Score:</label>
        <input type='submit' value='Vent Your Rage'>
    </form>
    <% } %>

        <% if (rent.vents.length) { %>
            <% let total=0 %>
                <% rent.vents.forEach(function(v) { %>
                    <% total +=v.rating %>
                        <table>
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Date</th>
                                    <th>Vents</th>
                                    <th>Rating</th>

                                    <th></th>
                                    <td>
                                        <%= v.rating %>
                                    </td>

                                    <td>
                                        </th>
                                        <% if (user && user._id.equals(v.user)) { %>
                                            <form action="/vents/<%= v._id %>?_method=DELETE" method="POST">
                                                <button type="submit">X</button>
                                            </form>
                                            <form action="/vents/<%= v._id %>?_method=PUT" method="POST">
                                                <!-- Value attribute is being set to the comment's current text -->
                                                <input name="content" value="<%= v.text %>">
                                                <button type="submit">UPDATE VENT</button>
                                              </form>
                                              
                                            <% } %>
                                           
                                    </td>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="review-user"><img src="<%= v.userAvatar %>">
                                        <%= v.userName %>
                                    </td>
                                    <td>
                                        <%= v.createdAt.toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <%= v.content %>
                                    </td>
                                    <td>
                                        <%= v.rating %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td><strong>
                                                <%= (total / rent.vents.length).toFixed(1) %>
                                            </strong></td>
                                    </tr>
                            </tbody>
                        </table>
                        <% } else { %>
                            <h5>No Vents Yet</h5>
                            <% } %>